<%= form_with(model: [@restaurant, @table, @booking], local: true) do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, default: Time.now %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.select :duration, [30, 60, 90, 120, 150, 180, 210, 240, 270, 300] %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user %>
  </div>

  <div class="field">
    <%= form.hidden_field :table_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
