<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @booking.duration %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user %>
</p>

<p>
  <strong>Table:</strong>
  <%= @booking.table.id %>
</p>

<%= link_to 'Edit', edit_restaurant_table_booking_path(@booking) %> |
<%= link_to 'Back', restaurant_table_path(restaurant_id: @restaurant.id, id: @table.id) %>
