<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @restaurant.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @restaurant.start.strftime("%H:%M") %>
</p>

<p>
  <strong>End:</strong>
  <%= @restaurant.end.strftime("%H:%M") %>
</p>

<%= render 'tables/index' %>
<%= render 'tables/new' %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
